*{
    box-sizing: border-box;
}

.grid-square{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

#grid-container{
    display:flex;
    flex-wrap:wrap;
    width: 960px;
    height: 960px;
    margin:auto;
}

#title{
    display:flex;
    justify-content: center;
}

#clear-button{
    padding: 1em;    
}

#button-container{
    display:flex;
    justify-content: center;
    margin-top:3em;
}


