*{
    box-sizing: border-box;
}

.grid-square{
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    background-color:white;
}

.grid-square-black{
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    background-color:black;
}

#grid-container{
    display:flex;
    flex-wrap:wrap;
    width: 960px;
    height: 960px;
    margin:auto;
}

#title{
    display:flex;
    justify-content: center;
}

#clear-button, #change-grid-button{
    padding: 1em;    
    margin: 2em;
}

#clear-button-container, #change-button-container{
    display:flex;
    justify-content: center;
}


